@use "variables" as v; 
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin btn {
    border: none;
    border-radius: v.$boxRadius;
    padding: 0.5rem;
}