@use "reset";
@use "mixin";
@use "variables" as v;

//Mobile
#navBar{
    height: 5vh;
    background-color: gray;
}

.header{
    height: 35vh;
    background-color: white;
}

#filter{
    height: 5vh;
    background-color: blue;
}

#videosContainer{
    height: 55vh;
    background-color: gray;
    @include mixin.center;
    flex-direction: column;
}

.videoBox{
    height: auto;
    width: 25rem;
    border: 1px solid black;
    border-radius: v.$boxRadius;
    @include mixin.center;
    flex-direction: column;

    &--title{
        position: absolute;
    }

    &--img{
        width: 20rem;
        height: auto;
    }
}

.optionsContainer{
    display: flex;

    &--audio{
        width: 10rem;
        border-radius: v.$boxRadius;
    }

    &--youtubeBtn{
        @include mixin.btn;
        background-color: rgb(192, 14, 14);
    }

    &--soundCloudBtn{
        @include mixin.btn;
        background-color: rgb(202, 134, 9);
    }

}

//Desktop
@media (min-width: 600px){
    #videosContainer{
        height: 60vh;
        background-color: gray;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 5rem;
    }

    #filter{
        display: none;
    }
}