@use "reset";
@use "mixin";
@use "variables" as v;

//Mobile
#navBar{
    height: 5vh;
    background-color: gray;
}

.header{
    height: 35vh;
    background-color: white;
}

#filter{
    height: 5vh;
    background-color: blue;
}

#videosContainer{
    height: 55vh;
    background-color: gray;
    @include mixin.center;
    flex-direction: column;
}

.videoBox{
    height: 20rem;
    width: 25rem;
    border: 1px solid black;
    border-radius: v.$boxRadius;
    @include mixin.center;

    &--title{
        position: absolute;
    }

    &--img{
        width: 20rem;
        height: auto;
    }
}


//Desktop
@media (min-width: 600px){
    #videosContainer{
        height: 60vh;
        background-color: gray;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 5rem;
    }

    #filter{
        display: none;
    }
}